* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font: 100%/1.5 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    background: #fff;
    color: #000;
}

button {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

#dashboard {
    margin: 2.5em auto;
    max-width: 1120px;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 768px) {
    #dashboard {
        padding-left: 0;
        padding-right: 0;
    }
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.dashboard-header h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
}

.dashboard-btn {
    padding: 0.5em 1.3em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    text-transform: lowercase;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.dashboard-btn i {
    margin-right: 0.35em;
}

#dashboard-content {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 1em;
}

.dashboard-content-area {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    min-height: 250px;
    background-color: #f5f5f5;
}

.dashboard-widget {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    padding: 1em;
    cursor: move;
    margin: 1em;
}

.dashboard-widget h2 {
    font-size: 1em;
    padding-bottom: 0.35em;
    font-weight: 500;
    border-bottom: 1px solid #999;
}

.dashboard-widget p {
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid #999;
    min-height: 150px;
    margin-top: 1em;
}