:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline-style: none;
    box-shadow: none;
}

body {
    font-family: sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.6;
    font-size: 1rem;
}

#password-generator {
    padding: 1rem;
}

.form-row,
.form-text,
.form-options,
.form-slider {
    margin: 1rem 0;
}

input,
button {
    font-family: sans-serif;
}

button {
    cursor: pointer;
    font-weight: bold;
}

.form-row input,
.form-row button {
    display: block;
    margin: 0.5rem 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #ddd;
    border-width: 0 0 1px 0;
    padding: 0.5rem;
}

.form-slider input {
    display: block;
    width: 100%;
}

#password {
    font-family: monospace;
}

#create-password {
    background: #080;
    color: #fff;
    border: none;
}

#copy-password {
    background: #eee;
    border: none;
}

@media screen and (min-width: 768px) {
    #password-generator {
        max-width: 640px;
        margin: 2rem auto;
    }

    .form-row input {
        width: 50%;
    }

    .form-row,
    .form-options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

