body {
    padding: 0 1em;
}

@media screen and (min-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
}

.password-meter-wrap {
    margin-top: 5px;
    height: 16px;
    background-color: #ddd;
}

.password-meter-bar {
    width: 0;
    height: 100%;
    transition: width 400ms ease-in;
}

.password-meter-bar.level0 {
    width: 20%;
    background-color: #d00;
}
.password-meter-bar.level1 {
    width: 40%;
    background-color: #f50;
}
.password-meter-bar.level2 {
    width: 60%;
    background-color: #ff0;
}
.password-meter-bar.level3 {
    width: 80%;
    background-color: rgb(161, 168, 65);
}

.password-meter-bar.level4 {
    width: 100%;
    background-color: #393;
}