* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #000;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
}

.data,
.data thead,
.data tbody,
.data td,
.data th {
    display: block;
}

.data tr {
    display: flex;
    flex-wrap: wrap;
}

.data tr td,
.data tr th {
    width: 11.111111%;
    box-sizing: border-box;
    padding: 0.7rem 0.3rem;
    text-align: center;
}

.data thead th {
    font-weight: 600;
    font-size: 0.85rem;
}

.data thead tr,
.data tbody tr {
    border-bottom: 1px solid #eee;
}

.data tbody tr > td:first-child {
    font-size: 0.85rem;
    background: #f5f5f5;
    border-right: 1px solid #eee;
}

.data tbody > tr:last-child {
    border-bottom: none;
}

.sort {
    width: 24px;
    margin: 0.3rem auto;
}

.sort button {
    display: block;
    width: 100%;
    height: 12px;
    border: none;
    text-indent: -9999em;
    background: url(../images/sort.png) no-repeat 0 0;
    cursor: pointer;
    margin: 0 0 0.1rem 0;
}

.sort button + button {
    background-position: 0 -12px;
}