* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

html {
  font-size: 18px;
}

body {
  font: 1rem/1.5 system, -apple-system, '.SFNSText-Regular', 'San Francisco',
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  background: #fff;
  color: #000;
}

#preloader {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.loader {
  width: 64px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before {
  content: '';
  border: 8px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  margin: auto;
  aspect-ratio: 1;
  animation: grow infinite 1s steps(4, jump-none);
}
@keyframes grow {
  0% {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

#preloader.loaded {
  display: none;
}

#facts {
  margin: 3rem auto;
  max-width: 960px;
  padding: 0 1rem;
}

#facts-list {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#facts-list li {
  display: block;
  padding: 1rem;
}

#facts-list > li:nth-child(even) {
  background-color: #f5f5f5;
}

#facts-lists li.error {
  color: #d00;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#pagination button {
  cursor: pointer;
  display: block;
  margin: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.7rem 1.3rem;
  font-size: inherit;
  font-family: inherit;
}

#pagination button:focus,
#pagination button:active {
  outline-style: none;
  box-shadow: none;
}
