* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 18px;
}

body {
    font: 1rem/1.5 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    background: #fff;
    color: #000;
}

.post {
    max-width: 960px;
    padding: 0 1rem;
    margin: 2.5rem auto;
}

.post p {
    margin-bottom: 1rem;
}

.hidden {
    position: absolute;
    top: -9999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.read-more-wrapper {
    text-align: right;
    margin-bottom: 1rem;
}

.read-more {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    border: none;
    text-decoration: underline;
    text-transform: lowercase;
}