@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

.card > figure {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.card > figure img {
    display: block;
    max-width: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
}