* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader .loader-line {
    font-family: sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
}

.loader .loader-dots:before,
.loader .loader-dots:after,
.loader .loader-dots span {
    content: '.';
    animation: fade 1.5s infinite;
}

.loader .loader-dots:before {
    animation-delay: 0s; 
}
.loader .loader-dots:after {
     animation-delay: 0.6s;
}
.loader .loader-dots span {
    animation-delay: 0.3s;    
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}