* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1rem system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.hidden {
    position: absolute;
    top: -9999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.custom-select-wrapper {
    display: inline-block;
    position: relative;
    min-width: 145px;
}

.custom-select-toggle {
    padding: 0.4rem;
    border: 1px solid #ddd;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    width: 100%;
}

.custom-select-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-style: solid;
    border-color: #ddd;
    border-width:  0 1px 1px 1px;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    display: none;
}

.custom-select-wrapper ul.visible {
    display: block;
}

.custom-select-wrapper ul li {
    display: block;
    padding: 0.4rem;
    cursor: pointer;
}

.custom-select-wrapper ul li:hover {
    background-color: #eee;
}