@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.ttf') format('truetype');

}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Inter, sans-serif;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
}

.sr {
    position: absolute;
    top: -9999em;
}

.carousel {
    position: relative;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.carousel-nav button {
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}

.carousel-nav button img {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel, .carousel-wrap {
    width: 100%;
    display: flex;
}

.carousel-wrap {
    position: relative;
    z-index: 1;
    transition: all 400ms ease-in-out;
    list-style: none;
}

.carousel-item {
    min-width: 16.6666%;
    max-width: 100%;
    margin: 0;
    position: relative;
    cursor: pointer;
    display: block;
    height: 300px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .carousel-item {
        height: 200px;
    }    
}

.carousel-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    margin: 0;
    opacity: 0;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    line-height: 1.5;
    transition: opacity 400ms ease-in;
}

.carousel-caption span {
    display: block;
}

.carousel-caption .carousel-title {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-bottom: 0.35rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

#carousel-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    display: none;
    transition: opacity 400ms ease-in;
    opacity: 0;
}

#carousel-overlay-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    z-index: 1000;
    color: #000;
    font-size: 1.4rem;
}

#carousel-overlay-content {
    position: absolute;
    z-index: 2000;
    padding: 1rem;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 40%;
}

@media screen and (max-width: 768px) {
    #carousel-overlay-content {
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
        top: 0;
        border-radius: 0;
        box-shadow: none;
    }
    #carousel-overlay-close {
        z-index: 3000;
    }
}

#carousel-overlay-product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#carousel-overlay-product .carousel-product-details {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#carousel-overlay-product .carousel-product-details button {
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 0.85rem 1.2rem;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#carousel-overlay-product .carousel-product-details span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin-right: 0.75rem;
}

#carousel-overlay-product figure {
    width: 35%;
    margin-right: 5%;
}

#carousel-overlay-product figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    #carousel-overlay-product {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    } 
    #carousel-overlay-product .carousel-product-details {
        width: 100%;
    }
    #carousel-overlay-product figure {
        width: 100%;
        margin-bottom: 1rem;
        margin-right: 0;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    z-index: 999999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: opacity 400ms ease-out;
}

@media screen and (max-width: 1024px) {
    .carousel-item {
        min-width: 50%;
    }  
    .carousel-caption {
        opacity: 1;
    }  
}

@media screen and (max-width: 768px) {
    .carousel-item {
        min-width: 100%;
    }
        .carousel-caption {
            opacity: 1;
        }
}