* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

html {
    font-size: 18px;
}

body {
    font: 1rem/1.5 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    overflow-x: hidden;
}

@media  screen and (min-width: 768px) {
    .slider {
        width: 600px;
        padding: 0;
    }
}

.slider-wrapper {
    list-style: none;
    display: flex;
    width: 100%;
    transition: all 500ms linear;
    transform: translateX(0);
    flex-wrap: wrap;
}

.slider-wrapper li {
    width: 100%;
    display: block;
}

.slider-wrapper li blockquote {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}

.slider-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.slider-nav button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #aaa;
    border: none;
    padding: 0;
    border-radius: 50%;
    display: block;
    margin-left: 1rem;
    position: relative;
}

.slider-nav button.active:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-color: #000;
    border-radius: 50%;
}

.slider-nav button span {
    position: absolute;
    top: -9999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}