* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background: #fff;
    color: #333;
}

.no-scroll {
    overflow: hidden;
}

#gallery {
    padding: 0 1rem;
    margin: 2.5rem auto;
}

#gallery figure {
    margin-bottom: 1rem;
    position: relative;
}

#gallery .view {
    appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    background: #fff url(../images/icons/magnifying-glass-solid.svg) no-repeat 50% 50%;
    background-size: 18px 18px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.1rem 0 0 -1.1rem;
    border: none;
    cursor: pointer;
    text-indent: -9999em;
    opacity: 0;
    transition: opacity 400ms ease-in;
}

#gallery figure:hover .view {
    opacity: 1;
}

#gallery-view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    padding: 5% 0;
    transition: opacity 400ms ease-in;
    opacity: 0;
    display: none;
}

#gallery-image {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery-image img {
    max-height: 100%;
}

#gallery-view-close {
    font-size:  1.6rem;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media screen and (min-width: 768px) {
    #gallery {
        display: grid;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        gap: 1rem;
        max-width: 1280px;
    }

    #gallery figure {
        margin-bottom: 0;
    }

    #gallery figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

