* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color: #fff;
    color: #000;
    font: 1rem/1.5 Helvetica, Arial, sans-serif;
}

input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1.2rem;
    border: 1px solid #dadada;
    border-radius: 0.15rem;
    background-color: #fff;
}

input:focus {
    outline-style: none;
    box-shadow: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1.2rem; 
    border-radius: 0.15rem;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;  
}

form button,
li button {
    margin-left: 0.7rem;
}

li button {
    color: #d00;
    border-color: #d00;
}

#app {
    max-width: 1100px;
    padding: 3rem 1rem;
    margin: 0 auto;
}

.app-header {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
}

.app-logo {
    display: block;
    width: 40px;
    height: auto;
    margin-right: 0.7rem;
}

.app-header h1 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.app-main {
    padding: 1.5rem;
    margin: 2rem 0;
    border: 1px solid #dadada;
    border-radius: 0.3rem;
}

.app-list {
    margin: 1.5rem 0;
    padding: 0;
    list-style: none;
}

.app-list li {
    display: flex;
    padding: 1.5rem;
    border: 1px solid #dadada;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}