* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font: 1rem/1.5 system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

article {
    margin: 3rem auto;
    max-width: 500px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.read-more {
    margin-top: 1rem;
    width: 9rem;
    overflow-x: hidden;
    height: 1rem;
    line-height: 1;
}

.read-more a {
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.read-more a:before {
    content: '';
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 400ms ease;
}

.read-more a span {
    transition: all 400ms ease;
    position: absolute;
    left: -100%;
    width: 100%;
}

.read-more a:hover:before {
    left: 100%;
}
.read-more a:hover span {
    left: 0;
}