* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  display: flex;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  transition: all 0.3s ease 0s;
}
.loader:after {
  left: auto;
  right: 0;
}
.loader .loader-line {
  margin: auto;
  width: 1px;
  height: 250px;
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease 0s;
}
.loader-line:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  background-color: #fff;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader-line:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #999999;
  transform: translateY(-100%);
  animation: lineround 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}

@keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes lineround {
  0% {
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
}

.loaded .loader-line:after {
  opacity: 0;
}
.loaded .loader-line {
  opacity: 0;
  height: 100% !important;
}
.loaded:before,
.loaded:after {
  animation: loadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes loadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
