* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #333;
    font: 1rem/1.5 Helvetica, Arial, sans-serif;
}

main {
    margin: 2.5rem auto;
    max-width: 900px;
    padding: 0 1rem;
}

.timeline dt {
    font-weight: bold;
}

.timeline dd {
    margin: 0.75rem 0;
    padding: 1rem;
    border: 1px solid #cdcdcd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
    .timeline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .timeline:after {
        content: '';
        width: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        position: absolute;
        top: 0;
        left: 20%;
    }

    .timeline dt {
        width: 20%;
        text-align: right;
        padding-right: 5%;
        position: relative;
    }

    .timeline dt:after {
        content: '';
        width: 1rem;
        height: 1rem;
        border: 2px solid;
        background-color: #eee;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -6%;
        transform: translateY(-50%);
        z-index: 9999;
    }

    .timeline dd {
        width: 75%;
        margin-left: 5%;
    }
}