* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body  {
    margin: 2.5rem auto;
    max-width: 40%;
    padding: 0 1rem;
    font: 1rem/1.5 sans-serif;
    background-color: #fff;
    color: #000;
}

::placeholder {
    color: #555;
}

:focus,
:active {
    outline-style: none;
    box-shadow: none;
}

button {
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.85rem 1.25rem;
    letter-spacing: .1em;
    text-transform: uppercase;
}

input {
    padding: 0.85rem;
    background-color: #fff;
    border: 1px solid #000;
}

input.autosuggest-input {
    min-width: 250px;
}

.error {
    color: #d00;
    margin: 1rem 0;
}

input.input-error {
    border: 1px solid #d00;
    background-color: #ffebee;
}

form {
    position: relative;
}

p {
    margin-bottom: 0.6rem;
}

.suggestions {
    position: absolute;
    top: auto;
    left: 0;
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-color: #000;
    border-style: solid;
    min-width: 250px;
    display: none;
}

.suggestions ul {
    list-style: none;
}
.suggestions ul li {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
}
.suggestions ul li:hover {
    background-color: #f5f5f5;
}